MyWsClient/src/main/resources/student.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.webservice.bill.com/student" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.webservice.bill.com/student" targetNamespace="http://www.webservice.bill.com/student">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.webservice.bill.com/student">
			<xs:element name="getStudentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="student_id" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStudentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="student" type="tns:student"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:complexType name="student">
				<xs:sequence>
					<xs:element name="student_id" type="xs:string"/>
					<xs:element name="student_name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="getStudentResponse">
		<wsdl:part element="tns:getStudentResponse" name="getStudentResponse"> </wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getStudentRequest">
		<wsdl:part element="tns:getStudentRequest" name="getStudentRequest"> </wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="StudentPort">
		<wsdl:operation name="getStudent">
			<wsdl:input message="tns:getStudentRequest" name="getStudentRequest"> </wsdl:input>
			<wsdl:output message="tns:getStudentResponse" name="getStudentResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="StudentPortSoap11" type="tns:StudentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getStudent">
			<soap:operation soapAction=""/>
			<wsdl:input name="getStudentRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getStudentResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="StudentPortService">
		<wsdl:port binding="tns:StudentPortSoap11" name="StudentPortSoap11">
			<soap:address location="http://localhost:8080/studentService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>